{% extends "base.html" %}
{% load security %}

{% block body %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <h1>ABM Apuestas</h1>
    <hr>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Text</th>
                <th>Autor</th>
                <th style="width: 400px;">result</th>
                <th>...</th>
            </tr>
        </thead>
        <tbody>
            {% for pregunta in pregunta_list %}
                <tr>
                    <td>{{ pregunta.id }}</td>
                    <td>{{ pregunta.text }}</td>
                    <td>{{ pregunta.create_user }}</td>
                    <td>
                        {% if pregunta.get_result %}
                        <script type="text/javascript">
                          google.charts.load('current', {'packages':['corechart']});
                          google.charts.setOnLoadCallback(drawChart);
                          function drawChart() {
                            var data = google.visualization.arrayToDataTable([
                              ['Respuestas', 'Cantidad'],
                              {% for x in pregunta.get_result %}['{{ x.0 }}',     {{ x.1 }}],{% endfor%}
                            ]);
                            var options = {
                              legend: { position: "none" },
                            };
                            var chart = new google.visualization.BarChart(document.getElementById('piechart_{{ pregunta.id }}'));
                            chart.draw(data, options);
                          }
                        </script>
                        <div id="piechart_{{ pregunta.id }}" style="width: 400px; height: 80px;"></div>
                        {% endif %}
                    </td>
                    <td>
                        {% if request.user|has_administrador_group %}
                        <a href="/apuestas/{{ pregunta.id }}/">Editar</a>
                        {% endif %}
                        {% if request.user|has_jugador_group %}
                        <a href="/apuestas/{{ pregunta.id }}/apuesta/">Jugar</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Pregunta</th>
                <th>Respuesta 1</th>
                <th>Respuesta 2</th>
            </tr>
        </thead>
        <tbody>
    {% regroup api_list by pregunta_text as apuestas_api_list%}
    {% for apuesta in apuestas_api_list %}
        <tr>
            <td><strong>{{ apuesta.grouper }}</strong></td>
            {% for respuesta in apuesta.list %}
            <td>{{ respuesta.text }}{{ respuesta.id }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}
