{% extends "base.html" %}
{% load security %}

{% block body %}
    <h1>ABM Apuestas</h1>
    <hr>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Text</th>
                <th>Autor</th>
                <th>...</th>
            </tr>
        </thead>
        <tbody>
            {% for pregunta in pregunta_list %}
                <tr>
                    <td>{{ pregunta.id }}</td>
                    <td>{{ pregunta.text }}</td>
                    <td>{{ pregunta.create_user }}</td>
                    <td>
                      {% if request.user|has_administrador_group %}
                      <a href="/apuestas/{{ pregunta.id }}/">Editar</span></a>
                      {% endif %}
                      {% if request.user|has_jugador_group %}
                      <a href="/apuestas/{{ pregunta.id }}/">Jugar</span></a>
                      {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
